<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        
        <span class="fs-4">NOTIO</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/posts" class="nav-link" aria-current="page">Články</a></li>
        <li class="nav-item"><a href="/tags" class="nav-link" aria-current="page">Tagy</a></li>
        <li class="nav-item"><a href="/new-post" class="nav-link active">Nový post</a></li>
               
      </ul>
    </header>
  </div>