
<div>
<input  [(ngModel)]="field"  #entry (keyup.enter)="addTopic(entry.value)" type="text"><i  (click)="addTopic(entry.value)" class="bi bi-search search"></i>
<div  *ngIf="!validTag" class="alert alert-light" role="alert">
  Nejedná se o validní tag <i class="bi bi-emoji-frown"></i><br>
  Nemůžeš najít vhodný tag? Mrkni do sekce <a href="tags">tagy</a>!
</div>
<div  *ngIf="posts.length===0" class="" role="alert">
  Nebyl nalezen žádný příspěvek.
  <ul class="list-group list-group-numbered">
    <br>
    <h5>Co teď?</h5>
    <br>
    <li class="list-group-item">Popis je moc specifický: Zkus zredukovat tagy </li>
    <li class="list-group-item">Problém není v evidenci: Možná toto téma ještě nikdo nezapsal - tak můžeš ty!</li>
  </ul>
</div>
<br>

<button class="btn btn-outline-info" (click)="delete(topic)" *ngFor="let topic of topics">{{topic}}<i class="bi bi-x"></i></button>
</div>

<div class="list-group w-auto margin-top-posts">
    <a *ngFor="let post of posts" [routerLink]="['/single',post.id]" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src={{post.url}} alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      
      <div class="d-flex gap-2 w-100 justify-content-around">
        <div class="a">
          <h6 class="mb-0">{{post.title}}</h6>
          <p class="mb-0 opacity-75">{{post.summary}}</p>
          <p class="mb-0 opacity-75 fst-italic">{{post.tags}}</p> 
        </div>
          <i *ngIf="post.public" class=" bi bi-unlock green">veřejný</i>
          <i *ngIf="!post.public" class=" bi bi-lock red">soukromý</i>
          <small class="opacity-50 text-nowrap">{{post.autor}}</small>
          <small class="opacity-50 text-nowrap">{{post.date}}</small>
      
      </div>
    </a>    
  </div>
  
  

 

